a.Linksofeducationallevoriclearninterviewquestionajshsmbdhamgsbfdhmwebdjmabdbjmabdsmnadbsjmadsbhjmdsfbhsbfdhamsfdhnmasdbnsdbbdsfmahjjgashbhjmasbnmnasfbnmdmbdhmsnabnmbnmabnbansbnahnmshbasmbvmmasnmabbhasmahsahsahhashvjavhhvahsvahsvhhvahajkghahhvavhhhvhhdhvahshhkhhakagkggjkgjkakgjgaskgkgagkkfkhgkafkgakjkugakuauggauryggfbbvbfhlijajjajauuryuewwiriwehiweqilwhwhlealhwejkdkjwēājājejkafkjfeahkjafewfewjhkjdewbfaewjfewafjewakjcwadbkjfewakjewdjfawjjdeajajfhevhgkeakhgdhasfjkkjafjasfjkakjsgkufkuaukakuafufeuuffafkjfgfjgjjfrjhhjkhsfjhhjsksfhdhjesfhjaehfjajhjehjhjahhwaehhjfhjaefjhhjfjjhfajgjgafhfajhhjfjhfhhjahjlahelhklafhlhfahjashhahfhafshhafjhfajhjmfahklfhkkhlafhfhahkfhklhehjjhjhsajhajhjhhasflhjfhjhfhjfasjfahlkhhfalkklhfelevoriclearn-rjhbhhhehvhvfr:hover:any-link {
    color: rgb(31, 30, 30);
      background-color: rgb(214, 224, 255);
      text-decoration: none;
       }
       a.Linksofeducationallevoriclearninterviewquestionajshsmbdhamgsbfdhmwebdjmabdbjmabdsmnadbsjmadsbhjmdsfbhsbfdhamsfdhnmasdbnsdbbdsfmahjjgashbhjmasbnmnasfbnmdmbdhmsnabnmbnmabnbansbnahnmshbasmbvmmasnmabbhasmahsahsahhashvjavhhvahsvahsvhhvahajkghahhvavhhhvhhdhvahshhkhhakagkggjkgjkakgjgaskgkgagkkfkhgkafkgakjkugakuauggauryggfbbvbfhlijajjajauuryuewwiriwehiweqilwhwhlealhwejkdkjwēājājejkafkjfeahkjafewfewjhkjdewbfaewjfewafjewakjcwadbkjfewakjewdjfawjjdeajajfhevhgkeakhgdhasfjkkjafjasfjkakjsgkufkuaukakuafufeuuffafkjfgfjgjjfrjhhjkhsfjhhjsksfhdhjesfhjaehfjajhjehjhjahhwaehhjfhjaefjhhjfjjhfajgjgafhfajhhjfjhfhhjahjlahelhklafhlhfahjashhahfhafshhafjhfajhjmfahklfhkkhlafhfhahkfhklhehjjhjhsajhajhjhhasflhjfhjhfhjfasjfahlkhhfalkklhfelevoriclearn-rjhbhhhehvhvfr {
        color: rgb(83, 80, 80);
        text-decoration: none;
           }

           #levoric-tools-all-in-one-page-levoriclearn-1:hover {
            text-decoration: none;
           }
           #levoric-tools-all-in-one-page-levoriclearn-2:hover {
            text-decoration: none;
           }
           #levoric-tools-all-in-one-page-levoriclearn-3:hover {
            text-decoration: none;
           }
           .Login-Sign-Up-Page-Levoric-educational-system-top-university-degree {
            color: rgb(255, 255, 255);
            background: rgb(17, 33, 75);
            border-radius: 30px;
            border-color: rgb(17, 33, 75);
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
           }

         .Login-Sign-Up-Page-Levoric-educational-system-top-university-degree-certificate {
            color: rgb(255, 255, 255);
            background: rgb(17, 33, 75);
            border-radius: 30px;
            border-color: rgb(17, 33, 75);
            text-decoration: none;
            display:inline;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
           }

           a.Registration-Form-Levoric-Page-free-educational-system-tech-top-university-learnsomthingnew-a:hover:any-link {
            text-decoration: none;
            background-color: rgb(21, 231, 116);
            color: rgb(17, 33, 75);
           }
           a.Registration-Form-Levoric-Page-free-educational-system-tech-top-university-a:hover:any-link {
            text-decoration: none;
            background-color: rgb(62, 104, 230);
           }