#levoriclearn-search-all-in-one-button-find-evrything-1 {
    margin-left: 50px;
    }
    
    #searchbar {
        width: 600%;
         margin: 10px;
           padding: 16px;
            border-radius: 30px;
            border: 1px rgb(0, 2, 12);
                }